@font-face {
  font-family: "Carpenter";
  font-weight: 400;
  src: url("../../assets/Fonts/Carpenter\ Regular.otf") format("opentype");
}

@font-face {
  font-family: "Unique Extra Light";
  font-weight: 400;
  src: url("../../assets/Fonts/Unique-Thin.ttf") format("opentype");
}
@font-face {
  font-family: "Andreson Grotesk";
  font-weight: 400;
  src: url("../../assets/Fonts/Anderson\ Grotesk\ Black.otf") format("opentype");
}
