//Primary Colors
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095ff;

//Secondary Colors
$BrainFlix-DarkBlack: #0000;
$BrainFlix-DarkBlue: #0065ad;

//Breakpoint variables
$breakpoints: (
  "mobile": 320px,
  "tablet": 768px,
  "desktop": 1280px,
);
